.cke_button__green_label{
    display: inline;
    padding: 0px 10px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(78, 200, 59);
}
.cke_button__green_icon{
    display: none;
    padding: 0px 10px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(78, 200, 59);
}
.cke_button__blue_label{
    display: inline;
    padding: 0px 10px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(115, 51, 241);
}
.cke_button__blue_icon {
    display: none;
    padding: 0px 10px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(115, 51, 241);
}


.branch span:hover{
    cursor:pointer;
    background: #000;
    box-shadow: 1px 1px 5px 5px rgb(73, 73, 239);
//-webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00));
    color:#FFF;
}
.patch-blc button{
    background-color: #222222 !important;
    border-color: #222222!important;
    height: 22px;
}

#d_copp{
    //background: #222222;
   // color: white;

}
#d_copp:before {
    margin-top: 5px;
    content: "\e082";
    color: black;
    margin-left: 10px
}
body{
    line-height: 1
}

.jsoneditor div.yutree button {
    height: 18px;

}
.container-fluid:after{
    content:none !important;
    color: #0f0f0f;
}


pre {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.jsoneditor .field.highlight, .jsoneditor .field[contenteditable=true]:focus, .jsoneditor .field[contenteditable=true]:hover, .jsoneditor .value.highlight, .jsoneditor .value[contenteditable=true]:focus, .jsoneditor .value[contenteditable=true]:hover {
    background-color: rgba(192, 192, 86, 0.38);
    border: 1px solid rgba(218, 218, 132, 0.35);
    border-radius: 2px;
}

.jsoneditor .separator {
    padding: 0px 0;
}

/*修正上下高度
*/
.jsoneditor .field, .jsoneditor .readonly, .jsoneditor .value {
    border: 1px solid transparent;
    min-height: 12px;
    min-width: 32px;
    padding: 0px;
    margin: 0px;
    word-wrap: break-word;
    float: left;
}

.height100{
    height: calc(100% - 0px);
}

.input-group[class*=col-] {
    float: right;
}
#d_filename{
    color: wheat;
}

#filelist{
    width: 125px;
    float: left;
    padding: 15px 0 15px 15px;
    height: 100%;
}
.sidebar-nav {
    position: fixed;
    width: 190px;
    left: 0px;
    bottom: 0;
    top: 24px;
    background: #FFF;
    /* padding: 10px 15px;*/
    z-index: 10;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}


.nav>li>a {
    /*
       修正tab标签页的边距
    */
    position: relative;
    display: block;
    padding: 1px 5px;
}
.navfix{
    /*
        修正导航条的高度
    */
    height:24px !important;
}
.navbar-layoutit {
    min-height: 32px;
    padding: 5px;
    height:33px;
}
#d_filename{
    padding-top: 5px;
}

.navbar-brand {
    float: left;
    height: 24px;
}
.navbar {
// position: relative;
//min-height: 24px;
    margin-bottom: 0px;
    -moz-box-shadow:0px 2px 5px #333333; -webkit-box-shadow:0px 2px 5px #333333; box-shadow:0px 2px 5px #333333;
}
.navbar-layoutit {
    min-height: 24px;
    padding: 0px;
    height: 24px;
}
.outfix{
    float:right !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #D5DDF6;
}

.jsoneditor{
    border-top-width: 0px;
}
body {
    /*
    修正导航条和35像素和 滚动条
    */
   // height: calc(100% - 24px);
    padding-top: 26px;
    padding-bottom: 1px;
    margin-left: 200px;
    -webkit-transition: margin 500ms ease;
    -moz-transition: margin 500ms ease;
    -ms-transition: margin 500ms ease;
    -o-transition: margin 500ms ease;
    transition: margin 500ms ease;
}

.navbar-layoutit .navbar-brand {
    width: 180px;
    color: #fff;
    padding: 0;
    margin: 0 5px;
}

.navbar-layoutit .navbar-brand .label {
    position: relative;
    left: 10px;
    top: -3px;
    font-weight: normal;
    font-size: 9px;
    background: #666;
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
}

#treeroot{
    width: 400px;
}

.sidebar-nav{
    height:calc(100% - 24px);
 //   overflow-y:scroll;
    border:1px solid;
}
