.yutree, .yutree ul {
    margin:0;
    padding:0;
    list-style:none
}
.yutree ul {
    margin-left:1em;
    position:relative
}
.yutree ul ul {
    margin-left:.5em
}
.yutree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.yutree .branch{
   // float: left
    //display: flex
}
.yutree li {

    margin:0;
    padding:0 1em;
    /*line-height:2em;*/
    color:#369;
    font-weight:700;
    position:relative
}
.yutree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    /* margin-top:-1px;*/
    position:absolute;
    top:1em;
    left:0
}
.yutree ul li:last-child:before {
    background:#FFF;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.yutree li a {
    text-decoration: none;
    color:#369;
    white-space: nowrap;
    overflow: hidden;
}
.yutree li button, .yutree li button:active, .yutree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

.yutree, .yutree ul {
    margin:0;
    padding:0;
    list-style:none
}
.yutree ul {
    margin-left:1em;
    position:relative
}
.yutree ul ul {
    margin-left:.5em
}
.yutree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.yutree li {
    margin:0;
    padding:0 1em;
    /*line-height:2em;*/
    color:#369;
    font-weight:700;
    position:relative
}
.yutree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    /*margin-top:-1px;*/
    position:absolute;
    top:1em;
    left:0
}
.yutree ul li:last-child:before {
    background:#FFF;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.yutree li a {
    text-decoration: none;
    color:#369;
}
.yutree li button, .yutree li button:active, .yutree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

.yutree li a:hover{
    background: #000;
    box-shadow: 1px 1px 5px 5px rgb(73, 73, 239);
//-webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00));
    color:#FFF;
}

.yutree ul li:before {
    margin-top: -6px;
}